<head><style type = "text/css">
  #bak{
    background-image:url('/hubble.jpg');
    background-size:cover;
}
@font-face{
    font-family: 'quaterback';
    src: url(quaterback.ttf) format('truetype');
}
  #qtr{
    font-family: 'quaterback';
}

#tbr{
 border:2px solid #FFF;
 border-collapse:collapse;
}
#tdd{
 width:100px;
 border:1px solid #FFF;
 height:20px;
}
#thh{
 width:100px;
 border:1px solid #FFF;
 height:20px;
}
</style>
</head>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=95459617d76c0dd8bb5edc6acf0ed818&libraries=services,clusterer,drawing"></script>

<script type = "text/javascript">
function Search() {
  var result = document.getElementById('result').value;
  var str = "http://map.daum.net/link/search/"
  str = str + result
    window.open(str, 'width=300, heigth=300')
}</script>

<body id = "bak" style="height:100%; width:100%">

<br> <center>
<h1><font id ="qtr" size=6 color="white">
DETECT A ROOM.</font></h1>
<font color = "white" size = "3px">
<table id = "tbr">
  <thead>
    <tr>
      <th id = "thh">Name</th>
      <th id = "thh">Type</th>
      <th id = "thh">Address</th>
      <th id = "thh">Deposit/Rent</th>
      <th id = "thh">Management_fee</th>
      <th id = "thh">Description</th>
      <th id = "thh">Phone_number</th>
      <th colspan="3"></th>
    </tr>
  </thead></font>

  <tbody><font color = "white">
    <% @regis.each do |regi| %>
      <tr align="center">
        <td id = "tdd"><%= regi.title %></td>
        <td id = "tdd"><%= regi.housetype %></td>
        <td id = "tdd"><%= regi.address %></td>
        <td id = "tdd"><%= regi.deposit %>/<%= regi.monthlyfee %></td>
        <td id = "tdd"><%= regi.managementfee %></td>
        <td id = "tdd"><%= regi.description %></td>
        <td id = "tdd"><%= regi.phone %></td>&nbsp;&nbsp;&nbsp;&nbsp;
        <td id = "tdd"><%= link_to 'Detail', regi, :style => 'color: #A566FF;' %>&nbsp;<%= link_to 'Edit', edit_regi_path(regi), :style => 'color: #6B66FF;' %>&nbsp;<%= link_to 'Delete', regi, method: :delete, data: { confirm: 'Are you sure you want to delete it?' }, :style => 'color: #F29661;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br /><br />
<a href='/'><img src="home.gif" width="50" height="50" title="Go to home"></a>&nbsp;&nbsp;&nbsp;<% if user_signed_in? %>
    <% current_user.email %>
      <a href=<%= new_regi_path %>><img src='rent.png' width = "50",height="50"></a>
    <% else %>
      <a href=<%= new_user_session_path %> title="for sale/lease"><img src='rent.png' width = "50",height="50"></a>
    <% end %>
</font>

<br /><table boder = NULL>
<form name = "fm">
<tr border = NULL><th border = NULL><font color = "white", size = "3px">Address: </font></th>
  <th border = NULL><input type="text" id = "result" name = "result" size = "30" / ></th>
  <th border = NULL><input type = "image" src="daum2.png" width="80" height="80" onclick = "Search()" / title= "Search"></th></tr>
  <div id="result"></div>
</form></table></center>
</body>
<br />
