<head><style>
  #bak{
    background-image:url('/robotarm.jpg');
    background-size:cover;
  }
    @font-face{
    font-family: 'quaterback';
    src: url('/quaterback.ttf') format('truetype');
  }
  #qtr{
    font-family: 'quaterback';
  }
</style></head>
<body id ="bak">
  <br><br>
<font id = "qtr" size =7 color="white">EDIT USER</font>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email , :style => 'color: white;' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password , :style => 'color: white;' %> <font color="white"><i>(leave blank if you don't want to change it)</i></font><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <font color="white"><em><%= @minimum_password_length %> characters minimum</em></font>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , :style => 'color: white;' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password , :style => 'color: white;' %>
    </font><br />
    <%= f.password_field :current_password, autocomplete: "off" %><br>
     <font color="white"><i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="actions">
    <%= f.submit "Edit" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Delete account? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to 'home', '/', :style => 'color: white;' %>
</body>